* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-text {
  color: white;
  text-align: center;
  padding-top: 100px;
}
body {
  overflow: hidden;
}
h1 {
  padding-bottom: 20px;
}
.container-01 {
  background-image: url(../../IMAGE/wavebg.png);
  position: relative;
  /* background: center; */
  margin-top: -40px;
}
.pic-1 {
  position: absolute;
  bottom: 175px;
  left: 300px;
}
.pic-2 {
  position: absolute;
  top: 355px;
  left: 442px;
}
.pic-3 {
  position: absolute;
  left: 720px;
  top: 395px;
}
.pic-4 {
  position: absolute;
  left: 935px;
  top: 405px;
}
.pic-5 {
  position: absolute;
  right: 210px;
  top: 360px;
}
.Design {
  padding-top: 40px;
}
.wave {
  width: 100%;
}
